@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); /* Importa a fonte Open Sans */
* {
    margin: 0; /* Remove as margens padrão de todos os elementos */
    padding: 0; /* Remove o preenchimento padrão de todos os elementos */
    box-sizing: border-box; /* Inclui o padding e border no tamanho total do elemento */
    font-family: 'Open Sans', sans-serif; /* Define a fonte para todo o documento */
}

/* Estilos gerais */
body {
    background-color: #f1e9df; /* Define a cor de fundo do corpo da página */
}

header {
    background-color: black; /* Define a cor de fundo do cabeçalho como preto */
    box-shadow: 0px 3px 10px #464646; /* Adiciona uma sombra ao cabeçalho */
}

.nav-bar {
    display: flex; /* Utiliza flexbox para organizar os itens da barra de navegação */
    justify-content: space-between; /* Distribui espaço entre os itens da barra de navegação */
    padding: 1.5rem 6rem; /* Adiciona espaçamento interno à barra de navegação */
}

.logo {
    display: flex; /* Utiliza flexbox para organizar o conteúdo do logo */
    align-items: center; /* Alinha os itens verticalmente no centro */
    width: 150px; /* Define a largura da área do logo */
    height: 80px; /* Define a altura da área do logo */
}

.logo img {
    width: 100%; /* Define a largura da imagem do logo para preencher totalmente o container */
    height: 100%; /* Define a altura da imagem do logo para preencher totalmente o container */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorção */
}

.nav-list :hover{
    color: green;
}

.nav-list {
    display: flex; /* Utiliza flexbox para organizar a lista de navegação */
    align-items: center; /* Alinha os itens da lista verticalmente no centro */
}

.nav-list ul {
    display: flex; /* Utiliza flexbox para organizar os itens da lista não ordenada */
    justify-content: center; /* Centraliza os itens da lista */
    list-style: none; /* Remove os marcadores padrão da lista */
}

.nav-item {
    margin: 0 15px; /* Define margem horizontal para os itens da navegação */
    font-size: 22px; /* Define o tamanho da fonte dos itens da navegação */
}

.nav-link {
    text-decoration: none; /* Remove o sublinhado dos links */
    font: 1.15rem; /* Define o tamanho da fonte dos links */
    color: #FFF; /* Define a cor dos links como branca */
    font-weight: 400; /* Define o peso da fonte como regular (400) */
}

.mobile-menu-icon {
    display: none; /* Esconde o ícone do menu móvel por padrão */
}

.mobile-menu {
    display: none; /* Esconde o menu móvel por padrão */
}


/* Centralizar o conteúdo */
.container {
    padding: 20px; /* Define o espaçamento interno da div container */
    text-align: center; /* Centraliza o conteúdo dentro da container */
}

.copy {
    text-align: center; /* Centraliza o texto no rodapé */
    padding: 10px; /* Define o espaçamento interno do rodapé */
    background-color: #f1e9df; /* Define a cor de fundo do rodapé */
    color: black; /* Define a cor do texto como preto */
    position: static; /* Deixa o rodapé como parte do fluxo normal da página */
    width: 100%; /* Faz o rodapé ocupar toda a largura da página */
}

.box {
    background-color: #522c17; /* Define a cor de fundo da caixa */
    color: white; /* Define a cor do texto como branco */
    padding: 20px; /* Define o espaçamento interno da caixa */
    border-radius: 20px; /* Arredonda as bordas da caixa */
    max-width: 500px; /* Define a largura máxima da caixa */
    margin: 20px auto; /* Centraliza a caixa na página com margem automática */
    margin-top: -5px;
}

/* Estilizar o formulário */
fieldset {
    border: 3px solid #f1e9df; /* Define uma borda ao redor do fieldset */
    border-radius: 10px; /* Arredonda as bordas do fieldset */
    padding: 20px; /* Define o espaçamento interno do fieldset */
}

legend {
    border: 1px solid #f1e9df; /* Define uma borda ao redor da legenda */
    padding: 10px; /* Define o espaçamento interno da legenda */
    text-align: center; /* Centraliza o texto da legenda */
    background-color: #947d60; /* Define a cor de fundo da legenda */
    border-radius: 10px; /* Arredonda as bordas da legenda */
}

.inputBox {
    position: relative; /* Define a posição relativa para os elementos dentro da inputBox */
    margin-bottom: 20px; /* Adiciona um espaçamento inferior */
}

.inputUser {
    background: none; /* Remove o fundo do campo de input */
    border: none; /* Remove as bordas padrão do input */
    border-bottom: 1px solid white; /* Adiciona uma borda inferior branca */
    outline: none; /* Remove o contorno ao focar no campo */
    color: white; /* Define a cor do texto como branco */
    font-size: 15px; /* Define o tamanho da fonte */
    width: 100%; /* Faz o input ocupar toda a largura disponível */
    padding: 10px; /* Define o espaçamento interno do input */
}

.labelInput {
    position: absolute; /* Posiciona a label em relação ao input */
    top: 0; /* Alinha a label ao topo */
    left: 0; /* Alinha a label à esquerda */
    pointer-events: none; /* Impede que a label seja clicada */
    transition: 0.5s; /* Adiciona uma transição suave para a label */
}

.inputUser:focus ~ .labelInput, 
.inputUser:valid ~ .labelInput {
    top: -20px; /* Move a label para cima quando o input estiver focado ou válido */
    font-size: 12px; /* Diminui o tamanho da fonte da label */
    color: white; /* Define a cor da label como branco */
}

#data {
    border: none; /* Remove as bordas padrão */
    padding: 8px; /* Define o espaçamento interno */
    border-radius: 10px; /* Arredonda as bordas */
    outline: none; /* Remove o contorno ao focar no campo */
    font-size: 15px; /* Define o tamanho da fonte */
    width: 100%; /* Faz o input ocupar toda a largura disponível */
}

#submit {
    background: #947d60; /* Define a cor de fundo do botão de submissão */
    width: 100%; /* Faz o botão ocupar toda a largura disponível */
    border: none; /* Remove as bordas do botão */
    padding: 15px; /* Define o espaçamento interno do botão */
    color: white; /* Define a cor do texto do botão como branco */
    font-size: 15px; /* Define o tamanho da fonte */
    cursor: pointer; /* Altera o cursor para o ícone de clique */
    border-radius: 10px; /* Arredonda as bordas do botão */
}

#submit:hover {
    background-color: #9e8261aa; /* Altera a cor de fundo do botão ao passar o mouse */
}

.final {
    position: fixed; /* Fixa a posição dos ícones na tela */
    bottom: 20px; /* Distância do fundo da tela */
    right: 20px; /* Distância da direita da tela */
    display: flex; /* Alinha os ícones em linha */
    gap: 15px; /* Espaçamento entre os ícones */
    z-index: 1000; /* Garante que os ícones fiquem acima de outros elementos */
}

.final img {
    width: 50px; /* Define a largura das imagens no footer */
    height: 50px; /* Define a altura das imagens no footer */
}

.mapa {
    color: #522c17;
    text-align: center;
}



/* Responsividade */

/* Para dispositivos móveis */
@media screen and (max-width: 768px) {
    
    .box {
        width: 90%; /* Ajusta a largura da caixa para 90% em dispositivos móveis */
        padding: 15px; /* Reduz o espaçamento interno da caixa */
    }
    .nav-bar {
        padding: 1.5rem 4rem; /* Ajusta o espaçamento interno da barra de navegação */
    }

    .nav-item {
        display: none; /* Esconde os itens da navegação em telas pequenas */
        font-size: 15px; /* Define o tamanho da fonte dos itens da navegação */
    }

    .icon {
        width: 100%; /* Ajusta a largura do ícone para 100% */
        height: 100%; /* Ajusta a altura do ícone para 100% */
        object-fit: cover; /* Ajusta o ícone para cobrir o espaço sem distorção */
    }

    .login-button {
        display: none; /* Esconde o botão de login em telas pequenas */
    }

    .mobile-menu-icon {
        display: block; /* Exibe o ícone do menu móvel em telas pequenas */
    }

    .mobile-menu-icon button {
        background-color: transparent; /* Define o fundo do botão como transparente */
        border: none; /* Remove a borda do botão */
        cursor: pointer; /* Define o cursor como um ponteiro ao passar sobre o botão */
    }

    .mobile-menu ul {
        display: flex; /* Utiliza flexbox para organizar os itens da lista no menu móvel */
        flex-direction: column; /* Organiza os itens da lista em uma coluna */
        text-align: center; /* Centraliza o texto dos itens */
        padding-bottom: 1rem; /* Adiciona espaçamento na parte inferior */
    }

    .mobile-menu .nav-item {
        display: block; /* Exibe os itens da navegação no menu móvel */
        padding: 1.2rem; /* Adiciona espaçamento interno aos itens */
    }

    .mobile-menu .login-button {
        display: block; /* Exibe o botão de login no menu móvel */
        padding: 1rem 2rem; /* Adiciona espaçamento ao botão de login */
    }

    .mobile-menu .login-button {
        width: 100%; /* Define a largura do botão de login para ocupar toda a tela */
    }

    .open {
        display: block; /* Exibe o menu móvel quando aberto */
    }

    .final img {
        width: 35px; /* Define a largura das imagens no footer */
        height: 35px; /* Define a altura das imagens no footer */
    }

    .mapa {
        color: #522c17;
        text-align: center;
    }
}

/* Para tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .box {
        width: 70%; /* Ajusta a largura da caixa para 70% em tablets */
    }

    .nav-bar {
        padding: 1.5rem 4rem; /* Ajusta o espaçamento interno da barra de navegação */
    }

    .nav-item {
        display: none; /* Esconde os itens da navegação em telas pequenas */
        font-size: 15px; /* Define o tamanho da fonte dos itens da navegação */
    }

    .icon {
        width: 100%; /* Ajusta a largura do ícone para 100% */
        height: 100%; /* Ajusta a altura do ícone para 100% */
        object-fit: cover; /* Ajusta o ícone para cobrir o espaço sem distorção */
    }

    .login-button {
        display: none; /* Esconde o botão de login em telas pequenas */
    }

    .mobile-menu-icon {
        display: block; /* Exibe o ícone do menu móvel em telas pequenas */
    }

    .mobile-menu-icon button {
        background-color: transparent; /* Define o fundo do botão como transparente */
        border: none; /* Remove a borda do botão */
        cursor: pointer; /* Define o cursor como um ponteiro ao passar sobre o botão */
    }

    .mobile-menu ul {
        display: flex; /* Utiliza flexbox para organizar os itens da lista no menu móvel */
        flex-direction: column; /* Organiza os itens da lista em uma coluna */
        text-align: center; /* Centraliza o texto dos itens */
        padding-bottom: 1rem; /* Adiciona espaçamento na parte inferior */
    }

    .mobile-menu .nav-item {
        display: block; /* Exibe os itens da navegação no menu móvel */
        padding: 1.2rem; /* Adiciona espaçamento interno aos itens */
    }

    .mobile-menu .login-button {
        display: block; /* Exibe o botão de login no menu móvel */
        padding: 1rem 2rem; /* Adiciona espaçamento ao botão de login */
    }

    .mobile-menu .login-button {
        width: 100%; /* Define a largura do botão de login para ocupar toda a tela */
    }

    .open {
        display: block; /* Exibe o menu móvel quando aberto */
    }

}

/* Para desktops */
@media screen and (min-width: 1025px) {
    .box {
        width: 30%; /* Ajusta a largura da caixa para 30% em desktops */
    }
}
