@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); /* Importa a fonte 'Open Sans' do Google Fonts */

* {
    margin: 0; /* Remove a margem padrão de todos os elementos */
    padding: 0; /* Remove o padding padrão de todos os elementos */
    box-sizing: border-box; /* Inclui padding e bordas dentro do tamanho total dos elementos */
    font-family: 'Open Sans', sans-serif; /* Define a fonte 'Open Sans' para todos os elementos */
}

body {
    background-color: #f1e9df; /* Define a cor de fundo do corpo da página */
}

header {
    background-color: #faf0e5; /* Define a cor de fundo do cabeçalho */
    box-shadow: 0px 3px 10px #464646; /* Adiciona uma sombra ao cabeçalho */
}

.nav-bar {
    display: flex; /* Usa o modelo de layout flexível */
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
    padding: 1.5rem 6rem; /* Define o espaçamento interno da barra de navegação */
}

.logo {
    display: flex; /* Exibe o logo como flexível */
    align-items: center; /* Alinha os itens no centro verticalmente */
    width: 300px; /* Define a largura das imagens */
    height: 80px; /* Define a altura das imagens */
}

.nav-list :hover{
    color: green;
}

.nav-list {
    display: flex; /* Exibe os itens da lista de navegação como flexíveis */
    align-items: center; /* Alinha os itens no centro verticalmente */
}

.nav-list ul {
    display: flex; /* Exibe os itens da lista como flexíveis */
    justify-content: center; /* Centraliza os itens dentro do ul */
    list-style: none; /* Remove os marcadores da lista */
}

.nav-item {
    margin: 0 15px; /* Adiciona margem lateral entre os itens da lista de navegação */
    font-size: 33px; /* Define o tamanho da fonte dos itens da lista */
}

.nav-link {
    text-decoration: none; /* Remove a decoração do texto (sublinhado) dos links */
    font: 1.15rem; /* Define o tamanho da fonte */
    color: #522c17; /* Define a cor do texto como branco */
    font-weight: 400; /* Define a espessura da fonte */
}

.mobile-menu-icon {
    display: none; /* Esconde o ícone do menu mobile por padrão */
}

.mobile-menu {
    display: none; /* Esconde o menu mobile por padrão */
}

.img {
    text-align: center; /* Centraliza o conteúdo dentro da imagem */
    padding: 10px; /* Adiciona padding ao redor da imagem */
}

img {
    margin: 10px;
    max-width: 60%; /* Faz com que a imagem se ajuste ao tamanho máximo da tela */
    height: auto;    /* Mantém a proporção original da imagem */
    border-radius: 10px; /* Arredonda os cantos da imagem */
}

.img2 img, .img img {
    width: 100%; /* Ajusta a largura para ocupar 100% do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Mantém os cantos arredondados */
}


footer {
    position: static; /* Define o rodapé como estático */
    bottom: 0; /* Posiciona o rodapé no fundo da página */
    left: 0; /* Alinha o rodapé à esquerda */
    width: 100%; /* Faz o rodapé ocupar toda a largura da tela */
    text-align: center; /* Centraliza o texto do rodapé */
    padding: 10px; /* Adiciona padding ao rodapé */
}

/* Responsividade */

/* Para smartphones (telas menores que 600px) */
@media (max-width: 600px) { 

    .img {
        padding: 5px; /* Reduz o padding ao redor da imagem para telas menores */
    }

    footer {
        padding: 15px; /* Aumenta o padding no rodapé para melhor toque em dispositivos móveis */
    }

    .nav-bar {
        padding: 1.5rem 4rem; /* Ajusta o padding da barra de navegação em telas menores */
    }

    .nav-item {
        display: none; /* Esconde os itens de navegação em telas menores */
        font-size: 15px; /* Define um tamanho de fonte menor para itens de navegação */
    }

    .login-button {
        display: none; /* Esconde o botão de login em telas menores */
    }

    .mobile-menu-icon {
        display: block; /* Exibe o ícone do menu mobile */
    }

    .mobile-menu-icon button {
        background-color: transparent; /* Remove o fundo do botão do ícone do menu mobile */
        border: none; /* Remove a borda do botão */
        cursor: pointer; /* Muda o cursor para indicar que é clicável */
    }

    .mobile-menu ul {
        display: flex; /* Exibe o menu mobile como flexível */
        flex-direction: column; /* Organiza os itens da lista em coluna */
        text-align: center; /* Centraliza o texto dos itens */
        padding-bottom: 1rem; /* Adiciona padding no final do menu */
    }

    .mobile-menu .nav-item {
        display: block; /* Exibe os itens de navegação no menu mobile */
        padding: 1.2rem; /* Adiciona padding aos itens de navegação no menu mobile */
    }

    .mobile-menu .login-button {
        display: block; /* Exibe o botão de login no menu mobile */
        padding: 1rem 2rem; /* Adiciona padding ao botão de login */
    }

    .mobile-menu .login-button {
        width: 100%; /* Define que o botão de login ocupe 100% da largura */
    }

    .open {
        display: block; /* Exibe o menu quando o ícone é clicado */
    }

    img {
        margin: 10px;
        max-width: 96%; /* Faz com que a imagem se ajuste ao tamanho máximo da tela */
        height: auto;    /* Mantém a proporção original da imagem */
        border-radius: 10px; /* Arredonda os cantos da imagem */
    }
    
    .img2 img, .img img {
        width: 100%; /* Ajusta a largura para ocupar 100% do contêiner */
        height: auto; /* Mantém a proporção da imagem */
        border-radius: 10px; /* Mantém os cantos arredondados */
    }
    
}

/* Para tablets (entre 601px e 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {

    .img {
        padding: 8px; /* Ajusta levemente o padding ao redor da imagem em tablets */
    }

    footer {
        padding: 12px; /* Ajusta o padding do rodapé para tablets */
    }

    .nav-bar {
        padding: 1.5rem 4rem; /* Ajusta o padding da barra de navegação em telas menores */
    }

    .nav-item {
        display: none; /* Esconde os itens de navegação em telas menores */
        font-size: 15px; /* Define um tamanho de fonte menor para itens de navegação */
    }

    .login-button {
        display: none; /* Esconde o botão de login em telas menores */
    }

    .mobile-menu-icon {
        display: block; /* Exibe o ícone do menu mobile */
    }

    .mobile-menu-icon button {
        background-color: transparent; /* Remove o fundo do botão do ícone do menu mobile */
        border: none; /* Remove a borda do botão */
        cursor: pointer; /* Muda o cursor para indicar que é clicável */
    }

    .mobile-menu ul {
        display: flex; /* Exibe o menu mobile como flexível */
        flex-direction: column; /* Organiza os itens da lista em coluna */
        text-align: center; /* Centraliza o texto dos itens */
        padding-bottom: 1rem; /* Adiciona padding no final do menu */
    }

    .mobile-menu .nav-item {
        display: block; /* Exibe os itens de navegação no menu mobile */
        padding: 1.2rem; /* Adiciona padding aos itens de navegação no menu mobile */
    }

    .mobile-menu .login-button {
        display: block; /* Exibe o botão de login no menu mobile */
        padding: 1rem 2rem; /* Adiciona padding ao botão de login */
    }

    .mobile-menu .login-button {
        width: 100%; /* Define que o botão de login ocupe 100% da largura */
    }

    .open {
        display: block; /* Exibe o menu quando o ícone é clicado */
    }

    img {
        margin: 10px;
        max-width: 96%; /* Faz com que a imagem se ajuste ao tamanho máximo da tela */
        height: auto;    /* Mantém a proporção original da imagem */
        border-radius: 10px; /* Arredonda os cantos da imagem */
    }
    
    .img2 img, .img img {
        width: 100%; /* Ajusta a largura para ocupar 100% do contêiner */
        height: auto; /* Mantém a proporção da imagem */
        border-radius: 10px; /* Mantém os cantos arredondados */
    }
}

/* Para desktops (maiores que 1024px) */
@media (min-width: 1025px) {
    .img {
        padding: 10px; /* Mantém o padding original ao redor da imagem */
    }

    footer {
        padding: 10px; /* Mantém o padding original do rodapé */
    }

    .logo {
        display: flex; /* Utiliza flexbox para organizar o conteúdo do logo */
        align-items: center; /* Alinha os itens verticalmente no centro */
        width: 800px; /* Define a largura da área do logo */
        height: 80px; /* Define a altura da área do logo */
    }
    
}
