@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif
}

body {
    background-color: #f1e9df;
}

#menu {
    list-style: none;
    padding: 0;
    background-color: #978875;
}

#menu li {
    display: inline;
}

#menu li a {
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    
}

#menu li a:hover {
    background-color: #947d60;
    
    
}

.img {
    text-align: center;
    padding: 10px;
}

footer {
    position:static;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}
